h2>a {
    text-decoration: none;
}

html {
    justify-content: center;
}

body {
    min-height: 100%;
    max-width: 800px;
    flex-direction: column;
    padding-right: 24px;
    padding-left: 24px;
    align-items: flex-start;
}

li {
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

ul {
    padding: 0;
    margin: 0;
}

#footer {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

#footer>div, #footer>div>a {
    color: gray;
}